

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    background: linear-gradient(to right, #1c687e, #105369);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: white;
}
.content {
    height: 100vh; 
    width: 250px;
    background-color: #f0f0f0; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  .backgroundTheme {
    background: linear-gradient(to right, #1c687e, #105369);
  }